* {
  /* transition: all 0.5s !important; */
  box-sizing: border-box;
  
}
html{
  overflow-y: scroll;
}

#banner {
  height: 40vh;
  border-radius: 40px !important;
  margin: 20px auto;
  width: 70%;
  overflow: hidden !important;
}

#banner .carousel-item {
  height: 40vh;
}

#banner .carousel-item .img {
  height: 100%;
}

